<h1>Update a Figure from History</h1>

<form action="/figures/<%=@figure.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Name:</label>
    <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">

  <h3>Edit Landmarks</h3>
    <ul>
      <% Landmark.all.each do |landmark| %>
        <li><label><%= landmark.name %></label>
        <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>></li>
      <% end %>
    </ul>

  <h3>Create New Landmark:</h3>
    <label for="name">Name: </label>
    <input type="text" name="landmark[name]" id="new_landmark">
    <label for="year">Year Completed: </label>
    <input type="text" name="landmark[year_completed]">

  <h3>Edit Titles</h3>
    <ul>
      <% Title.all.each do |title| %>
        <li><label><%= title.name %></label>
        <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>></li>
      <% end %>
    </ul>

  <h3>Create New Title:</h3>
  <input type="text" name="title[name]" id="new_title">

  <input type="submit" value="Edit Figure">
</form>