<h1>Create a Figure from History</h1>

<form action="/figures" method="post">
  <label for="name">Name:</label>
    <input type="text" name="figure[name]" id="figure_name">

  <h3>Landmarks</h3>
    <ul>
        <%@landmarks.each do |landmark|%>
            <label><%=landmark.name%></label>
            <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>">
            <br></br>
        <%end%>
    </ul>

  <h3>Create New Landmark:</h3>
    <label for="name">Name: </label>
    <input type="text" name="landmark[name]" id="new_landmark">
    <label for="year">Year Completed: </label>
    <input type="text" name="landmark[year_completed]">

  <h3>Titles</h3>
    <ul>
        <%@titles.each do |title|%>
            <label><%=title.name %></label>
            <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>">
            <br></br>
        <%end%>
    </ul>

  <h3>Create New Title:</h3>
  <input type="text" name="title[name]" id="new_title">

  <input type="submit" value="Create New Figure">
</form>